<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>InformacaoTransporte</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>ServletIndex</display-name>
		<servlet-name>ServletIndex</servlet-name>
		<servlet-class>controller.servlets.ServletIndex</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletIndex</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>FilterIndex</display-name>
		<filter-name>FilterIndex</filter-name>
		<filter-class>controller.filters.FilterIndex</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterIndex</filter-name>
		<servlet-name>ServletIndex</servlet-name>
	</filter-mapping>

	<servlet>
		<description></description>
		<display-name>ServletLinha</display-name>
		<servlet-name>ServletLinha</servlet-name>
		<servlet-class>controller.servlets.ServletLinha</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLinha</servlet-name>
		<url-pattern>/linha</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>FilterLinha</display-name>
		<filter-name>FilterLinha</filter-name>
		<filter-class>controller.filters.FilterLinha</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterLinha</filter-name>
		<servlet-name>ServletLinha</servlet-name>
	</filter-mapping>

	<servlet>
		<description></description>
		<display-name>ServletParada</display-name>
		<servlet-name>ServletParada</servlet-name>
		<servlet-class>controller.servlets.ServletParada</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletParada</servlet-name>
		<url-pattern>/parada</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>FilterParada</display-name>
		<filter-name>FilterParada</filter-name>
		<filter-class>controller.filters.FilterParada</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterParada</filter-name>
		<servlet-name>ServletParada</servlet-name>
	</filter-mapping>

	<servlet>
		<description></description>
		<display-name>ServletPosicaoVeiculo</display-name>
		<servlet-name>ServletPosicaoVeiculo</servlet-name>
		<servlet-class>controller.servlets.ServletPosicaoVeiculo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletPosicaoVeiculo</servlet-name>
		<url-pattern>/posicao-veiculo</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>FilterPosicaoVeiculo</display-name>
		<filter-name>FilterPosicaoVeiculo</filter-name>
		<filter-class>controller.filters.FilterPosicaoVeiculo</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterPosicaoVeiculo</filter-name>
		<servlet-name>ServletPosicaoVeiculo</servlet-name>
	</filter-mapping>
	
	<servlet>
		<description></description>
		<display-name>ServletVeiculo</display-name>
		<servlet-name>ServletVeiculo</servlet-name>
		<servlet-class>controller.servlets.ServletVeiculo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletVeiculo</servlet-name>
		<url-pattern>/veiculo</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>FilterVeiculo</display-name>
		<filter-name>FilterVeiculo</filter-name>
		<filter-class>controller.filters.FilterVeiculo</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterVeiculo</filter-name>
		<servlet-name>ServletVeiculo</servlet-name>
	</filter-mapping>
</web-app>